<div class="card mt-4">
    <div class="card-header">
        <h5>Состав заказа</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.orderitem_set.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }} руб.</td>
                    <td>{{ item.price|floatformat:2 }} руб.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>