<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'shop:index' %}">DAYZ DONATE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop:index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop:product_list' %}">Магазин</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop:contacts' %}">Контакты</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'cart:detail' %}">
                            Корзина 
                            {% with total_items=request.cart.items.count %}
                                {% if total_items > 0 %}
                                <span class="badge bg-danger">{{ total_items }}</span>
                                {% endif %}
                            {% endwith %}
                        </a> {% endcomment %}
                        <a href="{% url 'cart:detail' %}" class="position-relative">
                            <i class="bi bi-cart fs-4"></i>
                            {% if cart and cart.items.count > 0 %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ cart.items.count }}
                                <span class="visually-hidden">товаров в корзине</span>
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>