<div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            
            <!-- Заголовок модального окна -->
            {% comment %} <div class="modal-header">
                <h1 class="modal-title fs-4 text-white fw-bold" id="productModalLabel">
                    Быстрый просмотр
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div> {% endcomment %}
            <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Закрыть">
                <i data-lucide="x" class="modal-close-icon"></i>
            </button>

            <!-- Содержимое модального окна -->
            <div class="modal-body" id="productModalBody">
                <div class="text-center py-5">
                    <div class="spinner-border text-warning" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
